<h2 class="text-center">Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-group row justify-content-center">
    <div class="col-md-6">
      <%= f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email", class: 'form-control' } %>
    </div>
  </div>

  <div class="form-group row justify-content-center">
    <div class="col-md-6">
      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { autocomplete: "new-password", class: 'form-control' } %>
    </div>
  </div>

  <div class="form-group row justify-content-center">
    <div class="col-md-6">
      <%= f.input :password_confirmation, required: true, input_html: { autocomplete: "new-password", class: 'form-control' } %>
    </div>
  </div>

  <div class="form-group row justify-content-center mb-4"> <!-- Added margin-bottom class here -->
    <div class="col-md-6">
      <%= f.input :hometown, required: true, input_html: { class: 'form-control' } %>
    </div>
  </div>

  <div class="form-group text-center">
    <div class="col-md-12">
      <%= f.button :submit, "Sign up", class: "btn btn-primary btn-sm" %>
    </div>
  </div>
<% end %>

<div class="text-center">
  <%= render "devise/shared/links" %>
</div>

<style>
  .form-horizontal .form-group label {
    text-align: center;
    width: 100%;
  }
  .form-horizontal .form-group .col-md-6 {
    max-width: 400px;
  }
</style>
