<div>
  <div>
    <h1>
      <%= @the_user.full_name %> 
    </h1>

    <div>
      <div>
        <a href="/users">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_user/<%= @the_user.id %>">
          Delete user
        </a>
      </div>
    </div>

    <dl>
      <dt>
        First name
      </dt>
      <dd>
        <%= @the_user.first_name %>
      </dd>

      <dt>
        Last name
      </dt>
      <dd>
        <%= @the_user.last_name %>
      </dd>

      <dt>
        Email
      </dt>
      <dd>
        <%= @the_user.email %>
      </dd>

      <dt>
        Dob
      </dt>
      <dd>
        <%= @the_user.dob %>
      </dd>

      <dt>
        Premium subscription
      </dt>
      <dd>
        <%= @the_user.premium_subscription %>
      </dd>

      <dt>
        Hometown
      </dt>
      <dd>
        <%= @the_user.hometown %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_user.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_user.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>
