<div>
  <div>
    <h1>
      List of all place types
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new place type
    </h2>

    <form action="/insert_place_type" method="post">
      <div>
        <label for="place_id_box">
          Place
        </label>

        <input type="text" id="place_id_box" name="query_place_id">
      </div>

      <div>
        <label for="category_id_box">
          Category
        </label>

        <input type="text" id="category_id_box" name="query_category_id">
      </div>

      <button>
        Create place type
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Place
        </th>

        <th>
          Category
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_place_types.each do |a_place_type| %>
      <tr>
        <td>
          <%= a_place_type.id %>
        </td>

        <td>
          <%= a_place_type.place_id %>
        </td>

        <td>
          <%= a_place_type.category_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_place_type.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_place_type.updated_at) %> ago
        </td>

        <td>
          <a href="/place_types/<%= a_place_type.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
