<div>
  <div>
    <h1>
      List of all places
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new place in <%= current_user.hometown %>
    </h2>

    <form action="/insert_place" method="post" class="form-horizontal" enctype="multipart/form-data">
      <div>
        <label for="name_box">
          Name
        </label>
        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>
        <textarea id="description_box" name="query_description" rows="3"></textarea>
      </div>

      <div>
        <label for="image_box">
          Image
        </label>
        <input type="file" id="image_box" name="query_image" class="form-control">
      </div>

      <div>
          <label>Select Categories</label>
          <div class="checkbox-group">
            <% Category.all.each do |category| %>
              <input type="checkbox" id="categories_<%= category.id %>" name="categories[]" value="<%= category.id %>">
              <label for="categories_<%= category.id %>"><%= category.name %></label>
            <% end %>
          </div>
      </div>

      <div>
        <label for="street_address_box">
          Street address
        </label>
        <textarea id="street_address_box" name="query_street_address" rows="3"></textarea>
      </div>

      <div>
        <label for="city_box">
          City: <%= current_user.hometown %>
        </label>
        <input type="hidden" id="city_box" name="query_city" value="<%= current_user.hometown %>">
      </div>

      <div>
        <label for="zip_code_box">
          Zip code
        </label>
        <input type="text" id="zip_code_box" name="query_zip_code">
      </div>

      <button type="submit">
        Create place
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Description
        </th>

        <th>
          Image
        </th>

        <th>
          Street address
        </th>

        <th>
          City
        </th>

        <th>
          Zip code
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_places.each do |a_place| %>
      <tr>
        <td>
          <%= a_place.id %>
        </td>

        <td>
          <%= a_place.name %>
        </td>

        <td>
          <%= a_place.description %>
        </td>

        <td>
          <%= a_place.image %>
        </td>

        <td>
          <%= a_place.street_address %>
        </td>

        <td>
          <%= a_place.city %>
        </td>

        <td>
          <%= a_place.zip_code %>
        </td>

        <td>
          <%= time_ago_in_words(a_place.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_place.updated_at) %> ago
        </td>

        <td>
          <a href="/places/<%= a_place.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
