<div>
  <div>
    <h1>
      Place #<%= @the_place.id %> details
    </h1>

    <div>
      <div>
        <a href="/places">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_place/<%= @the_place.id %>">
          Delete place
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_place.name %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_place.description %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <%= @the_place.image %>
      </dd>

      <dt>
        Street address
      </dt>
      <dd>
        <%= @the_place.street_address %>
      </dd>

      <dt>
        City
      </dt>
      <dd>
        <%= @the_place.city %>
      </dd>

      <dt>
        Zip code
      </dt>
      <dd>
        <%= @the_place.zip_code %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_place.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_place.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit place
    </h2>

    <form action="/modify_place/<%= @the_place.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_place.name %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description"><%= @the_place.description %></textarea>
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_place.image %>">
      </div>

      <div>
        <label for="street_address_box">
          Street address
        </label>

        <textarea id="street_address_box" name="query_street_address"><%= @the_place.street_address %></textarea>
      </div>

      <div>
        <label for="city_box">
          City
        </label>

        <textarea id="city_box" name="query_city"><%= @the_place.city %></textarea>
      </div>

      <div>
        <label for="zip_code_box">
          Zip code
        </label>

        <input type="text" id="zip_code_box" name="query_zip_code" value="<%= @the_place.zip_code %>">
      </div>

      <button>
        Update place
      </button>
    </form>
  </div>
</div>

<hr>
