<div>
  <div>
    <h1>
      <%= @the_place.name %> details
    </h1>

    <h2>
    Overall rating: <%= @rating_average %>/5.0
    </h2>

    <div>
      <div>
        <a href="/places">
          Go back
        </a>
      </div>

      <div>
        <a href="/update_place/<%= @the_place.id %>">
          Edit place
        </a>
      </div>

      <div>
        <a href="/delete_place/<%= @the_place.id %>">
          Delete place
        </a>
      </div>
    </div>

    <dl>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_place.description %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <%= @the_place.image %>
      </dd>

      <dt>
        Street address
      </dt>
      <dd>
        <%= @the_place.street_address %>
      </dd>

      <dt>
        City
      </dt>
      <dd>
        <%= @the_place.city %>
      </dd>

      <dt>
        Zip code
      </dt>
      <dd>
        <%= @the_place.zip_code %>
      </dd>

    </dl>
  </div>
</div>



<hr>

<% if current_user != nil %>

  <div>
    <h2>
      Add a new review
    </h2>

    <form action="/insert_review" method="post">
      <div>

        <input type="hidden" id="place_id_box" name="query_place_id" value="<%= @the_place.id %>">
      </div>

      <div>

        <input type="hidden" id="reviewer_id_box" name="query_reviewer_id" value="<%= current_user.id %>">
      </div>

      <div>
          <label for="rating_box">Choose a rating:</label>
            <select name="query_rating" id="rating_box">
              <option value="1.0">1.0</option>
              <option value="1.5">1.5</option>
              <option value="2.0">2.0</option>
              <option value="2.5">2.5</option>
              <option value="3.0">3.0</option>
              <option value="3.5">3.5</option>
              <option value="4.0">4.0</option>
              <option value="4.5">4.5</option>
              <option value="5.0">5.0</option>
            </select>
            <br><br>

      </div>

      <div>
        <label for="body_box">
          Body
        </label>

        <textarea id="body_box" name="query_body" rows="3"></textarea>
      </div>

      <button>
        Create review
      </button>
    </form>
  </div>


  <% else %>

  <div>
  Want to add a review?

  <a href="/users/sign_up">Sign up</a>
  <a href="/users/sign_in">Sign in</a>

  </div>

  <% end %>




<h2>Existing reviews for <%= @the_place.name %></h2>

<table border="1">
  <tr>

    <th>
      Reviewer
    </th>

    <th>
      Rating
    </th>

    <th>
      Description
    </th>

    <th>
      Date
    </th>

  </tr>

  <% @the_place.reviews.each do |a_review| %>
    <tr>
      <td>
        <% the_id = a_review.reviewer_id  %>
        <% matching_records = User.where({ :id => the_id}) %>
        <% reviewer = matching_records.at(0) %>

        <%= reviewer.full_name %>
      </td>

      <td>
        <%= a_review.rating %>
      </td>

      <td>
        <%= a_review.body %>
      </td>

      <td>
        <%= a_review.created_at.to_date%>
      </td>

    </tr>
  <% end %>
</table>
